
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  /*!*подложка*!*/
  /*background: url("../preview/technomart-index.jpg") no-repeat center;*/
  /*width: 1200px;*/
  /*height: 3151px;*/
  /*!*подложка*!*/

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-style: normal;
  /*min-width: 1200px;*/
}


/* --- Основные шрифты + иконочный шрифт --- */

/*@font-face {*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-family: "Cuprum";*/
  /*src: url("../fonts/web/cuprum.woff") format("woff"), url("../fonts/web/cuprum.woff2") format("woff2");*/
/*}*/

/*@font-face {*/
  /*font-weight: bold;*/
  /*font-style: normal;*/
  /*font-family: "Cuprum";*/
  /*src: url("../fonts/web/cuprumbold.woff") format("woff"), url("../fonts/web/cuprumbold.woff2") format("woff2");*/
/*}*/

/*@font-face {*/
  /*font-weight: normal;*/
  /*font-style: italic;*/
  /*font-family: "Cuprum";*/
  /*src: url("../fonts/web/cuprumitalic.woff") format("woff"), url("../fonts/web/cuprumitalic.woff2") format("woff2");*/
/*}*/

/*@font-face {*/
  /*font-weight: bold;*/
  /*font-style: italic;*/
  /*font-family: "Cuprum";*/
  /*src: url("../fonts/web/cuprumbolditalic.woff") format("woff"), url("../fonts/web/cuprumbolditalic.woff2") format("woff2");*/
/*}*/

/*@font-face {*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-family: "PT Sans";*/
  /*src: url("../fonts/web/ptsans.woff") format("woff"), url("../fonts/web/ptsans.woff2") format("woff2");*/
/*}*/

/*@font-face {*/
  /*font-weight: bold;*/
  /*font-style: normal;*/
  /*font-family: "PT Sans";*/
  /*src: url("../fonts/web/ptsansbold.woff") format("woff"), url("../fonts/web/ptsansbold.woff2") format("woff2");*/
/*}*/

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../symbols-technomart/fonts/symbols-technomart.woff") format("woff"), url("../symbols-technomart/fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  margin-right: 0.2em;
  margin-left: 0.2em;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "symbols-technomart";
  line-height: 1em;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

/* --- Общие стили --- */

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


p,
a,
img,
input,
label
{
margin: 0px;
padding: 0px;
}

/* ---- Стили главного хедера ---- */

/* --- Верхний блок хедера --- */

.header-top {
  margin: 0;

  font-size: 0;
  color: #ffffff;
  /*min-height: 42px;*/

  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.header-top .logo {
  display: inline-block;
  box-sizing: border-box;
  /*float: left;*/
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 10px 0;
  text-align: center;

  font-size: 24px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;

  background: #ee3643;
  box-shadow: 0 5px #b52933;
}

.header-top .logo:hover {
  background: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.header-top .logo:active {
  background: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.header-top-search {
  display: inline-block;
  box-sizing: border-box;
  min-width: 270px;
  margin: 0;
  padding: 0;

  vertical-align: middle;
}

.header-top-search input {
  min-width: 270px;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;

  background: #293449 ;
  border: none;
  outline: none;
  box-shadow: none;
}
.header-top-search label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
}

.header-top-search label::before {
  content: "🔍";
  position: absolute;
  top: 0;
  left: -250px;

  font-weight: normal;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  opacity: 0.3;

  speak: none;
}

.header-top-search:hover,
.header-top-search:hover input {
  background: #212a3a;
}

.header-top-search:hover label::before {
  opacity: 1;
}

.header-top-search input:focus {
  color: #000000;

  background: #ffffff;
}
.header-top-search input:focus + label::before {
  color: #ee3643;
}

.header-top-search input {
  -webkit-appearance: none;
}

.header-top-search input::-webkit-search-cancel-button {
  display: none;
}

.header-top-search input:-moz-placeholder {
  color: #ffffff;
}
.header-top-search input::-webkit-input-placeholder {
  color: #ffffff;
}
.header-top-bookmarks,
.header-top-basket,
.header-top-order {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  margin: 0;
  padding: 12px 0;

  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: middle;
  color: #ffffff;
  font-style: normal;
}

.header-top-bookmarks,
.header-top-basket {
  padding-right: 20px;
  padding-left: 15px;
}

.header-top-order {
  text-align: center;
}

.icon-bookmark,
.icon-basket {
  margin: 0;
  margin-right: 6px;

  opacity: 0.3;
}

.header-top-bookmarks:hover,
.header-top-basket:hover {
  background-color: #212a3a;
}

.header-top-basket:hover .icon-basket,
.header-top-bookmarks:hover .icon-bookmark {
  opacity: 1;
}

.header-top-bookmarks:active,
.header-top-basket:active {
  background-color: #161d29;
  opacity: 0.51;
}

.header-top-order {
  background-color: #63a63e;
}
.header-top-order:hover {
  background-color: #5fbb2d;
}

.header-top-order:active {
  background-color: #518534;
  opacity: 0.51;
}

/* --- Средний блок хедера --- */
.header-middle {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 10px;

  background: #f1f5f7;
}

.header-middle-slogan {
  float: left;
  width: 200px;
  margin: 0 40px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 12px;

  font-weight: bold; /*600*/
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ee3643;
  font-style: italic;
  letter-spacing: -0.5px;
}
.header-middle-contacts {
  float: left;
  width: 270px;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 6px 10px;
}

.header-middle-phone {
  position: relative;

  margin: 0;
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 71px;

  font-weight: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  /*letter-spacing: 1px;*/
  color: #e9292a;
  font-style: normal;

  border: 4px solid #ffffff;
}

.header-middle-phone::before {
  content: "\1f4de" ;
  position: absolute;
  top: 10px;
  left: 12px;

  font-family: "symbols-technomart";
  color: #b7bfc8;
}

.header-middle-address {
  margin: 0;
  padding: 4px 0;
  text-align: center;

  font-weight: normal; /*500*/
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  font-style: normal;
}

.header-middle-authorization {
  float: right;
  padding: 6px 0;

  font-size: 0;
}

.header-middle-authorization a {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 10px;
  /*height: 45px;*/
  padding: 12px 0;
  text-align: center;

  font-weight: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: middle;
  color: #000000;
  font-style: normal;
  overflow: hidden;
  background-color: #ffffff;
}
.header-middle-authorization .sign-in {
  position: relative;

  width: 120px;
  text-align: left;
  padding-left: 48px;
}
.header-middle-authorization .sign-in::before {
  content: "\2386";
  position: absolute;
  top: 12px;
  left: 14px;

  font-size: 22px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}



.header-middle-authorization .check-in {
  width: 150px;
}
/* --- Нижний блок хедера --- */

.header-bottom {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 17px;
  padding-bottom: 60px;

  background: #f1f5f7;
}

.header-bottom-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-bottom-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.header-bottom-navigation li {
  display: inline-block;

  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: middle;
}

.header-bottom-navigation li:first-child {
  padding-left: 20px;
}

.header-bottom-navigation  a {
  display: block;
  padding: 19px 31px;

  color: #ffffff;
}

.header-bottom-navigation a:hover {
  background-color: #293449;
}

.header-bottom-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

/* ---- Стилизация  main блока ---- */

/* Стилизация блока с Предложениями  */
.offer {
  padding-top: 30px;
  margin-bottom: 50px;
}

.offer-left {
  float: left;
  width: 620px;
  margin: 0;
  padding: 0;

}

.offer-right {
  float: right;
  width: 300px;
  margin: 0;
  padding: 0;

}

.offer-item {
  width: 254px;
  min-height: 74px;
  margin: 0;
  padding: 22px;
  color: #ffffff;
  position: relative;
  margin-bottom: 20px;

}
.offer-item-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;

}
.offer-item-btn {
  display: block;

  vertical-align: middle;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.1);
  margin-top: 11px;
}
.offer-item-btn:hover {
  background-color: rgba(0,0,0,0.2);
}
.offer-item-btn:active {
  background-color: rgba(0,0,0,0.3);
}
  /*.offer-item-icon {*/
 /**/
/*}*/

.offer-materials {
  float: left;

  background-color: #f6b22d;
}
.offer-materials::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 65px;
  top: 30px;
  right: 43px;

  background: -317px 0 url("../img/sprite.png") no-repeat ;
}

.offer-tools {
  float: right;

  background-color: #4aafde;
}

.offer-tools::after {
  content: "";
  position: absolute;
  width: 77px;
  height: 65px;
  top: 32px;
  right: 28px;

  background: -395px 0 url("../img/sprite.png") no-repeat ;
}

.offer-equipment {
  background-color: #cc79d1;
}
.offer-equipment::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 65px;
  top: 30px;
  right: 30px;

  background: -205px 0 url("../img/sprite.png") no-repeat ;
}
.offer-discount {
  background-color: #85d179;
}
.offer-discount::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 77px;
  top: 28px;
  right: 40px;

  background: -112px 0 url("../img/sprite.png") no-repeat ;
}
.offer-delivery {
  background-color: #f6b22d;
}
.offer-delivery::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 65px;
  top: 30px;
  right: 30px;

  background: 0 0 url("../img/sprite.png") no-repeat ;
}

.offer-right article:nth-last-child(1){
  margin-bottom: 0;
}


/* ---- Слайдер ---- */

.offer-slider {
  position: relative;
  clear: both;
  width: 620px;
  height: 266px;
  overflow: hidden;
}

.offer-slider .slider-controls {
  position: absolute;
  bottom: 28px;
  left: 295px;
  z-index: 3;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.offer-slider .slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  background-color: #ffffff;
  /*background-color: #ee3643;*/
  border: 2px solid  #ffffff;
  border-radius: 50%;

  cursor: pointer;
}
.offer-slider .slider-items {
  /*position: relative;*/
  width: 200%;
  /*transition: translate 10s ease;*/
}

.slider-left-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 120px;
  left: 30px;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  transform: rotate(135deg);
  border-radius: 4px;
  z-index: 3;
  cursor: pointer;
  /*display: none;*/
}
.slider-right-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 120px;
  right: 25px;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  transform: rotate(-45deg);
  border-radius: 4px;
  z-index: 3;
  cursor: pointer;
}
.slide {
 position: relative;
 float: left;
 width: 620px;
 height: 266px;

}

.slide h2 {
  font-size: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0 25px;
  padding-top: 25px;


}
.slide p {
  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  padding: 5px 25px;
}

.slide .slider-btn {
  position: absolute;
  bottom: 20px;
  left: 25px;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  width: 195px;
  margin: 0;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  background-color: #ee3643;
  border-radius: 4px;
  z-index: 3;
}
.slide .slider-btn:hover {
  background-color: #ca2c37;
}
.slide .slider-btn:active {
  background-color: #ba2732;
}
.slide-perforators {
  background: #5b4f3d url("../img/slide1_620_266.jpg") no-repeat center;
}
.slide-drills {
  background: #5b4f3d url("../img/slide2_620_266.jpg") no-repeat center;
}

.offer-slider input[type="radio"] {
  display: none;
}

#radio-btn-1:checked ~ .slider-controls label[for="radio-btn-1"],
#radio-btn-2:checked ~ .slider-controls label[for="radio-btn-2"] {
  transition: background-color 0.2s;
  background-color: #ee3643;
}

#radio-btn-1:checked ~ .slider-items {
  transition: transform 2s ease;
  transform: translate(0);
}

#radio-btn-2:checked ~ .slider-items {
  transition: transform 2s ease;
  transform: translate(-620px);
}


/*                                */
.popular-header {
  background-color: #f7f3ec;
  color: #32425c;
  font-size: 0;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popular-header h2 {
  float: left;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  /*color: #32425c;*/
  /*font-family: "Cuprum", Arial, sans-serif;*/
  /*padding: 30px;*/
  margin-top: 32px;
  margin-right: 0;
  margin-left: 28px;
  margin-bottom: 28px;

}

.popular-header-btn {
  float: right;
  margin-top: 27px;
  margin-right: 24px;
  margin-left: 25px;
  margin-bottom: 25px;
  vertical-align: middle;
  padding: 10px 0;
  width: 254px;

  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-products-inner {
  margin-left: -20px;
  font-size: 0;
}

.catalog-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}
.new:before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
  width: 60px;
  height: 59px;
  content: '';
  background: transparent url('../img/new_flag_60_59.png') no-repeat 0 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
  border: 1px solid transparent;
}

.catalog-item:hover .catalog-item-actions{
  display: block;
}

.catalog-item-actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 217px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.catalog-item-actions .buy,
.catalog-item-actions .bookmark{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  display: block;
  width: 129px;
  margin: 0 auto ;
  margin-bottom: 7px;
  padding: 7px 0;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
  color: #ffffff;
}
.catalog-item-actions .buy {
  border-bottom-color:  #367315;
  position: relative;
}
.catalog-item-actions .buy::before {
  position: absolute;
  content: "\62";
 text-transform: none;
  color: #ffffff;
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;
  font-family: "symbols-technomart";
  top: 5px;
  left: 13px;
}

.catalog-item-actions .bookmark {
  color: #63a63e;
  background-color: #fff;
}

.catalog-item-img {
  width: 218px;
  height: 168px;
  line-height: 168px;
  text-align: center;
  overflow: hidden;

}
.catalog-item-img img{
  vertical-align: middle;
  /*margin: auto;*/
}
.catalog-item-name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 20px;
  color: #000000;

  padding: 0 25px;
}

.catalog-item-price {
  display: block;
  min-height: 20px;
  margin-bottom: 10px;
  text-decoration: line-through;
  color: #999999;
}

.catalog-item-discount{
  position: relative;
  width: 80px;
  margin: 10px auto ;
  margin-bottom: 20px;
  padding: 11px 30px;

  border-radius: 3px;

  background-color: #ee3643 ;
  color: #ffffff;
}
.catalog-item-discount:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}

/*                                   */




.popular-brands-inner {
  font-size: 0;

}
.popular-brands-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
}
.popular-brands-inner li {
  display: inline-block;
  /*vertical-align: middle;*/

  border: 1px solid #e7e7e7;
  margin-left: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}

.popular-brands-inner a {
  display: block;
  width: 218px;
  height: 143px;
  line-height: 143px;
  text-align: center;
  overflow: hidden;
}
.popular-brands-inner img{
  vertical-align: middle;
  /*margin: auto;*/
}
