# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.idea/

.editorconfig
.csscomb.json
styleguide.psd
technomart-catalog.psd
technomart-index.psd

preview/
symbols-technomart/

fonts/
